div.right-panel
	div.head-panel
		md-button.close.icons8-delete-2(ng-click="c.close()")
			span ESC
		h2 {{c.panelHeader}} 

	div.new-task
		div(layout-gt-sm="row")
			md-input-container.md-block(flex-gt-sm="")
				label ProjectName
				input(ng-model="c.nameProject" required="")

	md-button.md-fab.check-task(aria-label="Check task" ng-click="c.saveProject()")
		i.icons8-checkmark

