
md-progress-linear(md-mode="indeterminate" ng-show="!c.loaded")

div.conteiner(layout="row" ng-show="c.loaded" ng-esc="c.close()")
	md-sidenav.dark-background(md-is-locked-open="true")
		div.conteiner-sidebar(layout="column")
			md-list-item.user
				span.with-frame
					img.md-avatar(ng-src="image/TrevorReyes.jpg" width="50" height="50")  

				span.name-user {{c.currentUser}}

			div.projects.full-width
				span.to-left Projects
				md-button.add-project(aria-label="New project" ng-click="c.openForAddProject()")
					span.icons8-plus

			div.conteiner-projects
				div.item-project(ng-repeat="project in c.projects")
					md-button.full-width.list-item(id="id_{{project.Project.id}}" aria-label="Project" ng-click="c.getTasks(project.Project.id)")
						span.to-left  {{project.Project.title}}
						span.to-right {{project.Project.task_count}}

		
		md-list-item.log-out
			md-button(aria-label="Left").to-left
				span.no-transform Log Out

	md-content(flex) 
		div.header.clearfix		
			md-button.button-search(aria-label="Search" ng-click="c.goToSearch()")
				i.icons8-search
			
			md-input-container.search(md-no-float="")
				input.search-task(aria-label="Search task" ng-model="c.searchTask" placeholder="Write to search")
				md-button.clean-search.icons8-delete-2(aria-label="Clean" ng-click="c.searchTask = ''" ng-show="c.searchTask != ''")

			md-menu.button-more(md-position-mode="target-right target")
				md-button.icons8-more(aria-label="Work with Project" ng-click="$mdOpenMenu($event)")
				md-menu-content(width="4")
					md-menu-item
						md-button(aria-label="Edit project" ng-click="c.openForEditProject()") Edit project
					md-menu-item
						md-button(aria-label="Delete project" ng-click="c.delProject()") Delete project
		md-divider

		div.complete(layout="column" ng-show="c.tasks.length == 0")
			span
				i.icons8-todo-list
				br
				span Have a good day

		div.task-conteiner(layout="column")
			div.task(ng-repeat = "task in c.tasks" class="task")
				span.task-date {{task.date.display}}
				md-card
					md-card-content(ng-repeat = "name in task.names | filter: c.searchTask")
						md-radio-group
							md-radio-button.md-primary(value="false" ng-click="c.taskDone(name.id)" aria-label="Task")
						div.task-name(ng-click="c.openForShowTask(name.id)") 
							span {{name.name}}

		md-button.md-fab.add-task(aria-label="Add task" ng-click="c.openForAddTask()")
			i.icons8-plus

	md-sidenav.md-sidenav-right.md-whiteframe-4dp.dark-background(md-component-id="rightPanel")		
		md-content
			div.ui-view

