include style/mixins/mixins.jade

+begin

+head

body(ng-app="ToDoApp" ng-controller="todoController as c" layout="column")
	md-progress-linear(md-mode="indeterminate" ng-show="c.loading")

	div.conteiner(layout="row" ng-show="!c.loading")
		md-sidenav.dark-background(md-is-locked-open="true")
			div.conteiner-sidebar(layout="column")
				md-list-item.user
					span.with-frame
						img.md-avatar(ng-src="image/TrevorReyes.jpg" width="50" height="50")  

					span.name-user {{c.currentUser}}

				div.projects.full-width
					span.to-left Projects
					md-button.add-project(ng-click="c.showPanel('project', 'Create new project', '')" aria-label="New project")
						span.icons8-plus

				div.item-project(ng-repeat="project in c.projects")
					md-button.full-width.list-item(ng-click="c.getProjectTasks(project.Project.id)" id="id_{{project.Project.id}}" aria-label="Project")
						span.to-left  {{project.Project.title}}
						span.to-right {{project.Project.task_count}}

			md-list-item.log-out
				md-button
					span.to-left.no-transform Log Out

		md-content(flex) 
			md-input-container.md-block.search(md-no-float="")
				input(ng-model="c.searchTask" aria-label="Search task")
			md-button.button-search(ng-show="c.searchTask == ''" aria-label="Search")
				i.icons8-search
			md-button.icons8-more.button-more(onclick="document.querySelector('.dropdown-menu').classList.toggle('display-none')" aria-label="Edit project")

			div.dropdown-menu.display-none
				md-button(ng-click="c.showPanel('projectEdit', 'Edit project', '')" aria-label="Show panel") Edit project
				md-button(ng-click="c.deleteProject()" aria-label="Delete project") Delete project

			div.complete(layout="column" ng-show="c.tasks.length==0")
				span
					i.icons8-todo-list
					br
					span Have a good day

			div.task-conteiner(layout="column")
				div.task(ng-repeat = "task in c.tasks" class="task")
					span.task-date {{task.date}}
					md-card
						md-card-content(ng-repeat = "name in task.names | filter:c.searchTask")
							md-radio-group
								md-radio-button.md-primary(value="false" ng-click="c.taskDone(name.id)")
							div.task-name(ng-click="c.showPanel('taskView', name.name, name.description, name.id)")
								span {{name.name}}

			md-button.md-fab.add-task(aria-label="Add task" ng-click="c.showPanel('taskCreate', 'Create new task', '')")
				i.icons8-plus

		div.for-right-panel(ng-show="c.showRightPanel")
			div.right-panel
				div.head-panel
					md-button.close.icons8-delete-2(ng-click="c.closePanel()")
						span ESC
					h2 {{c.panelHeader}} 
					div.panel-actions(ng-show = "c.isOpenTask")
						md-button.edit.icons8-edit(ng-click= "c.showPanel('taskEdit', c.panelHeader, c.panelBody)" aria-label="Edit task")
						md-button.delete.icons8-delete(ng-click="c.taskDelete()" aria-label="Delete task")

				div.panel-body(ng-show = "c.isOpenTask") {{c.panelBody}}

				div.new-task(ng-show = "!c.isOpenTask")
					div(layout-gt-sm="row" ng-show = "c.isAddTask")
						md-input-container.md-block(flex-gt-sm="")
							label Task name
							input(ng-model="c.newTaskName")
					div(layout-gt-sm="row" ng-show = "c.isAddTask")
						md-input-container.md-block(flex-gt-sm="")
							label Description
							input(ng-model="c.newTaskDescription")

					div(layout-gt-sm="row" ng-show = "c.isAddProject||c.isEditProject")
						md-input-container.md-block(flex-gt-sm="")
							label ProjectName
							input(ng-model="c.newProject")

				md-button.md-fab.check-task(aria-label="Check task" ng-click="c.okPanel()" ng-show="!c.isOpenTask")
					i.icons8-checkmark

	

	+source("angular/angular.min.js")
	+source("angular-animate/angular-animate.min.js")
	+source("angular-aria/angular-aria.min.js")
	+source("angular-material/angular-material.min.js")
	+script("todo")