<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
  <link href="../bower_components/angular-material/angular-material.min.css" rel="stylesheet">
  <link href="style/css/style-icons.css" rel="stylesheet">
  <link href="style/css/style-todo.css" rel="stylesheet">
  <title>ToDoApp</title>
</head>
<body ng-app="ToDoApp" ng-controller="todoController as c" layout="column">
  <md-progress-linear md-mode="indeterminate" ng-show="c.loading"></md-progress-linear>
  <div layout="row" ng-show="!c.loading" class="conteiner">
    <md-sidenav md-is-locked-open="true" class="dark-background">
      <div layout="column" class="conteiner-sidebar">
        <md-list-item class="user"><span class="with-frame"><img ng-src="image/TrevorReyes.jpg" width="50" height="50" class="md-avatar"></span><span class="name-user">{{c.currentUser}}</span></md-list-item>
        <div class="projects full-width"><span class="to-left">Projects</span>
          <md-button ng-click="c.showPanel('project', 'Create new project', '')" aria-label="New project" class="add-project"><span class="icons8-plus"></span></md-button>
        </div>
        <div ng-repeat="project in c.projects" class="item-project">
          <md-button ng-click="c.getProjectTasks(project.Project.id)" id="id_{{project.Project.id}}" aria-label="Project" class="full-width list-item"><span class="to-left"> {{project.Project.title}}</span><span class="to-right">{{project.Project.task_count}}</span></md-button>
        </div>
      </div>
      <md-list-item class="log-out">
        <md-button><span class="to-left no-transform">Log Out</span></md-button>
      </md-list-item>
    </md-sidenav>
    <md-content flex> 
      <md-input-container md-no-float="" class="md-block search">
        <input ng-model="c.searchTask" aria-label="Search task">
      </md-input-container>
      <md-button ng-show="c.searchTask == ''" aria-label="Search" class="button-search"><i class="icons8-search"></i></md-button>
      <md-button onclick="document.querySelector('.dropdown-menu').classList.toggle('display-none')" aria-label="Edit project" class="icons8-more button-more"></md-button>
      <div class="dropdown-menu display-none">
        <md-button ng-click="c.showPanel('projectEdit', 'Edit project', '')" aria-label="Show panel">Edit project</md-button>
        <md-button ng-click="c.deleteProject()" aria-label="Delete project">Delete project</md-button>
      </div>
      <div layout="column" ng-show="c.tasks.length==0" class="complete"><span><i class="icons8-todo-list"></i><br><span>Have a good day</span></span></div>
      <div layout="column" class="task-conteiner">
        <div ng-repeat="task in c.tasks" class="task task"><span class="task-date">{{task.date}}</span>
          <md-card>
            <md-card-content ng-repeat="name in task.names | filter:c.searchTask">
              <md-radio-group>
                <md-radio-button value="false" ng-click="c.taskDone(name.id)" class="md-primary"></md-radio-button>
              </md-radio-group>
              <div ng-click="c.showPanel('taskView', name.name, name.description, name.id)" class="task-name"><span>{{name.name}}</span></div>
            </md-card-content>
          </md-card>
        </div>
      </div>
      <md-button aria-label="Add task" ng-click="c.showPanel('taskCreate', 'Create new task', '')" class="md-fab add-task"><i class="icons8-plus"></i></md-button>
    </md-content>
    <div ng-show="c.showRightPanel" class="for-right-panel">
      <div class="right-panel">
        <div class="head-panel">
          <md-button ng-click="c.closePanel()" class="close icons8-delete-2"><span>ESC</span></md-button>
          <h2>{{c.panelHeader}} </h2>
          <div ng-show="c.isOpenTask" class="panel-actions">
            <md-button ng-click="c.showPanel('taskEdit', c.panelHeader, c.panelBody)" aria-label="Edit task" class="edit icons8-edit"></md-button>
            <md-button ng-click="c.taskDelete()" aria-label="Delete task" class="delete icons8-delete"></md-button>
          </div>
        </div>
        <div ng-show="c.isOpenTask" class="panel-body">{{c.panelBody}}</div>
        <div ng-show="!c.isOpenTask" class="new-task">
          <div layout-gt-sm="row" ng-show="c.isAddTask">
            <md-input-container flex-gt-sm="" class="md-block">
              <label>Task name</label>
              <input ng-model="c.newTaskName">
            </md-input-container>
          </div>
          <div layout-gt-sm="row" ng-show="c.isAddTask">
            <md-input-container flex-gt-sm="" class="md-block">
              <label>Description</label>
              <input ng-model="c.newTaskDescription">
            </md-input-container>
          </div>
          <div layout-gt-sm="row" ng-show="c.isAddProject||c.isEditProject">
            <md-input-container flex-gt-sm="" class="md-block">
              <label>ProjectName</label>
              <input ng-model="c.newProject">
            </md-input-container>
          </div>
        </div>
        <md-button aria-label="Check task" ng-click="c.okPanel()" ng-show="!c.isOpenTask" class="md-fab check-task"><i class="icons8-checkmark"></i></md-button>
      </div>
    </div>
  </div>
  <script src="../bower_components/angular/angular.min.js" type="text/javascript"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
  <script src="../bower_components/angular-aria/angular-aria.min.js" type="text/javascript"></script>
  <script src="../bower_components/angular-material/angular-material.min.js" type="text/javascript"></script>
  <script src="script/js/todo.js" type="text/javascript"></script>
</body>