@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "SFUIText";
  src: url("../font/text/SFUIText.ttf") format("opentype");
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "SFUITextRegular";
  src: url("../font/text/SFUIText-Regular.otf") format("opentype");
}

body {
	font-family: "SFUIText", "Arial", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.conteiner {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;

	.dark-background {
		background-color: #292c33;
		color:  white;
		width: 25%;
		max-width: 340px;

		&.md-sidenav-right {
			width: 30%;
			max-width: 925px;
		}
	}

	.conteiner-sidebar {
		position: relative;
		margin: 20px 0 22px 0;
		padding: 0 30px;

		md-list-item.user {
			margin-bottom: 38px;
			padding-left: 10px;
		}
	}

	.with-frame {
	    padding: 4px;
	    border-radius: 50%;
		border: 1px solid white;
		margin-right: 20px;
		height: 50px;
		width: 50px;

		.md-avatar {
			margin: 0;
			height: 50px;
			width: 50px;
		}
	}

	.name-user {
		font-size: 15px;
		line-height: 14px;
	}

	.full-width {
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		text-transform: none;
	}

	.projects {
		font-size: 12px;
		line-height: 14px;
		color: #b3bbcb;
		margin-bottom: 18px;
	}

	.add-project {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 35px;
		font-size: 22px;
		line-height: 28px;
		color: white;
		min-width: 30px;
		min-height: 30px;
		margin: 0;
		padding: 0;

	}

	.conteiner-projects {
		position: relative;
		height: 72%;
		overflow-y: auto;
	}

	.item-project {
		padding: 0;
		margin: 0;
	}

	.complete {
		display: table;
		height: 80%;
		width: 100%;

		 > span {
			display: table-cell;
			margin: 0 auto;
			color: #b1b1c8;
			vertical-align: middle;
			text-align: center;
			font-size: 24px;
		}

		i {
			font-size: 200px;
		}
	}

	.list-item {
		font-size: 15px;
		line-height: 40px;
		margin: 0;

		&.active {
			background-color: #6b6b99;
		}
	}

	.to-left {
		float: left;
		max-width: 90%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.to-right {
		float: right;
	}

	.log-out {
		position: absolute;
		bottom: 10px;	
		left: 30px;

		.md-button {
			box-sizing: content-box;

		}
	}

	.no-transform {
		text-transform: none;
		text-align: center;
	}

	md-content {
		position: relative;
		background-color: #f7f7f7;
	}

	md-content .search {
		margin-bottom: -10px;
	}

	.header {
		position: relative;
		// border-bottom: 1px solid rgba(0, 0, 0, 0.12);

		.button-search,
		.button-more {
			min-width: 60px;
			height: 50px;
			background: transparent;
			font-size: 30px;
			line-height: 30px;
			color: #b3bbcb;
			margin: 0;
			padding: 0;
		}

		.button-search {
			float: left;
		}

		.button-more {
			float: right;

			.md-button {
				height: 50px;
			    min-width: 50px;
			    width: 60px;
			    margin: 0;
			    padding: 0;
			    font-size: 30px;
			}
		}

		md-select.button-more .md-select-value {
			position: relative;
			border-bottom-color: transparent;
			
		}

		md-input-container.search {
			position: relative;
			margin: 21px 0 -27px 10px;
			float: left;
			width: 200px;
			max-width: 60%;
			padding-right: 20px;
			height: 30px;
			padding: 0;

			.md-button.clean-search {
				position: absolute;
				right: 0;
				top: 50%;
    			transform: translateY(-50%);
				min-width: 20px;
				width: 20px;
			    height: 20px;
    			min-height: 20px;
    			padding: 0;
    			margin: 0;
			}
		}
	}

	

	.display-none {
		display: none;
	}

	.dropdown-menu {
		position: absolute;
		right: 0;
		top: 50px;
	}

	.task-conteiner {
		margin: 0 auto;
		width: 100%;
		max-height: calc(100% - 51px);
        overflow-y: auto;

		md-card {
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);
			border-radius: 10px;
			font-size: 15px;
			line-height: 36px;
		}

		 md-card-content {
			position: relative;
			padding: 12px 30px;
		}	

		md-card-content:not(:nth-child(1)):after,
		md-card-content:not(:nth-child(1)):before {
			content: "";
			position: absolute;
			top: 1px;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			height: 1px;
			background-color: #f2f2f2;
		}

		md-card-content:before {
			top: 0;
			background-color: #f7f7f7;
		} 

		md-radio-button {
			margin: 0;
		}

		.task {
			margin-bottom: 6px;
			width: 60%;
			margin: 0 auto;

			md-card {
				margin-top: 6px;
			}

			&:first-child {
				margin-top: 20px;
			}
		}

		.task-date {
			color: #b3bbcb;
			font-size: 15px;
			line-height: 14px;
			margin-left: 15px;
		}

		.task-name {
			display: inline-block;
			border-left: 2px solid #f4f4f4;
			vertical-align: middle;
			padding-left: 15px;
		    height: 36px;
		    max-width: 80%;
		    cursor: pointer;
		    margin-left: 20px;
		    overflow: hidden;
    		text-overflow: ellipsis;

    		span {
    			max-width: 90%;
    			overflow: hidden;
    			text-overflow: ellipsis;
    		}

		    &:focus {
		    	outline: none;
				box-shadow: none;
		    }
		}
	}
}

md-option {
	font-size: 18px;
}

md-radio-button {
	display: inline-block;

	&:focus {
		outline: none;
		box-shadow: none;
	}

	.md-ink-ripple .md-off, 
    .md-ink-ripple .md-on {
		border-width: 3px;	
	}

	.md-ink-ripple .md-off {
		border-color: #bdbdbd;
	}

	// .md-label {
	// 	margin-left: 55px;
	// 	border-left: 2px solid #f4f4f4;
	// 	padding-left: 15px;
	// }

}

.md-button.md-fab.add-task,
.md-button.md-fab.check-task {
	position: fixed;
	z-index: 2;
	bottom: 30px;
	right: 30px;
	background-color: #6b6b99;
	font-size: 30px;

	&:not([disabled]).md-focused {
		background-color: #6b6b99;	
	}
}

.md-fab.check-task {
	z-index: 72;
} 

.right-panel {
	height: 99%;
    background-color: #292c33;
    z-index: 71;
    color: white;
    border: 1px solid transparent;
}

.head-panel {
	position: relative;
	margin-top: 20px;
	margin-bottom: 25px;
	min-height: 35px;

	.close{
		position: absolute;
		left: 10px;
		top: 0;
		font-size: 25px;
		line-height: 25px;
		margin: 0;
		min-width: 40px;
		min-height: 30px;
		height: 45px;

		span {
			display: block;
			font-size: 9px;
			line-height: 8px;
			margin-top: 1px;
		}
	}

	h2 {
		font-size: 18px;
		line-height: 35px;
		text-align: center;
		margin: 0 auto;
		width: 60%;
		word-wrap: break-word;
	}

	.panel-actions {
		position: absolute;
		top: 0;
		right: 20px;
		color: #51555e;

		.md-button {
			font-size: 18px;
			min-height: 30px;
			min-width: 35px;
			margin: 0;
		}
	}
}

.panel-body {
	color: #dbdbdb;
	font-size: 12px;
	line-height: 22px;
	padding: 0 75px;
	font-family: "SFUITextRegular", "Arial", sans-serif;
}

.new-task {
	padding: 0 75px;
	margin-top: -10px;

	md-input-container {
		margin: 0;
		margin-bottom: 12px;

		label {
			font-family: "SFUITextRegular", "Arial", sans-serif;	
			color: #f6f6f6;
			font-size: 15px;	
			line-height: 20px;
		}

		&.md-input-focused:not(.md-input-invalid) label {
			color: #f6f6f6;
			font-family: "SFUITextRegular", "Arial", sans-serif;	
		}

		.md-input { 
			color: #f6f6f6;
		}

		input,
		&.md-input-focused:not(.md-input-invalid) .md-input {
			border-color: #f6f6f6;
		}
	}

	.error {
		color: red;
	}
}

md-backdrop.md-sidenav-backdrop {
	z-index: 61;
}

.md-sidenav-right {
	z-index: 62;
}

md-input-container:not(.md-input-invalid).md-input-has-value label {
	color: #f6f6f6;
}