@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "SFUIText";
  src: url("../font/text/SFUIText.ttf") format("opentype");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "SFUITextRegular";
  src: url("../font/text/SFUIText-Regular.otf") format("opentype");
}
body {
  font-family: "SFUIText", "Arial", sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.conteiner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.conteiner .dark-background {
  background-color: #292c33;
  color: white;
  width: 25%;
  max-width: 340px;
}
.conteiner .dark-background.md-sidenav-right {
  width: 30%;
  max-width: 925px;
}
.conteiner .conteiner-sidebar {
  position: relative;
  margin: 20px 0 22px 0;
}
.conteiner .conteiner-sidebar md-list-item.user {
  margin-bottom: 38px;
  padding: 0 40px;
}
.conteiner .with-frame {
  padding: 4px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 20px;
  height: 50px;
  width: 50px;
}
.conteiner .with-frame .md-avatar {
  margin: 0;
  height: 50px;
  width: 50px;
}
.conteiner .name-user {
  font-size: 15px;
  line-height: 14px;
}
.conteiner .full-width {
  position: relative;
  text-transform: none;
  padding: 0 44px;
}
.conteiner .projects {
  font-size: 12px;
  line-height: 14px;
  color: #b3bbcb;
  margin-bottom: 18px;
}
.conteiner .add-project {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
  font-size: 22px;
  line-height: 28px;
  color: white;
  min-width: 30px;
  min-height: 30px;
  margin: 0;
  padding: 0;
}
.conteiner .conteiner-projects {
  position: relative;
  height: calc(100% - 205px);
  padding: 0 30px;
  overflow: hidden;
}
.conteiner .item-project {
  margin: 0;
  width: 100%;
}
.conteiner .complete {
  display: table;
  height: 80%;
  width: 100%;
}
.conteiner .complete > span {
  display: table-cell;
  margin: 0 auto;
  color: #b1b1c8;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
}
.conteiner .complete i {
  font-size: 200px;
}
.conteiner .list-item {
  font-size: 15px;
  line-height: 40px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}
.conteiner .list-item.active {
  background-color: #6b6b99;
}
.conteiner .to-left {
  float: left;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.conteiner .to-right {
  float: right;
}
.conteiner .log-out {
  position: absolute;
  bottom: 10px;
  left: 30px;
}
.conteiner .log-out .md-button {
  box-sizing: content-box;
}
.conteiner .no-transform {
  text-transform: none;
  text-align: center;
}
.conteiner md-content {
  position: relative;
  background-color: #f7f7f7;
}
.conteiner md-content .search {
  margin-bottom: -10px;
}
.conteiner .header {
  position: relative;
}
.conteiner .header .button-search,
.conteiner .header .button-more {
  min-width: 60px;
  height: 50px;
  background: transparent;
  font-size: 30px;
  line-height: 30px;
  color: #b3bbcb;
  margin: 0;
  padding: 0;
}
.conteiner .header .button-search {
  float: left;
}
.conteiner .header .button-more {
  float: right;
}
.conteiner .header .button-more .md-button {
  height: 50px;
  min-width: 50px;
  width: 60px;
  margin: 0;
  padding: 0;
  font-size: 30px;
}
.conteiner .header md-select.button-more .md-select-value {
  position: relative;
  border-bottom-color: transparent;
}
.conteiner .header md-input-container.search {
  position: relative;
  margin: 0 10px;
  float: left;
  width: 300px;
  max-width: calc(100% - 140px);
  padding-right: 20px;
  height: 50px;
  padding: 0;
}
.conteiner .header md-input-container.search .md-input.search-task {
  height: 51px;
  line-height: 50px;
}
.conteiner .header md-input-container.search .md-button.clean-search {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  min-width: 25px;
  width: 25px;
  height: 25px;
  min-height: 25px;
  padding: 0;
  margin: 0;
}
.conteiner .display-none {
  display: none;
}
.conteiner .dropdown-menu {
  position: absolute;
  right: 0;
  top: 50px;
}
.conteiner .task-conteiner {
  margin: 0 auto;
  width: 100%;
  height: calc(100% - 51px);
  overflow-y: auto;
}
.conteiner .task-conteiner md-card {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  font-size: 15px;
  line-height: 36px;
}
.conteiner .task-conteiner md-card-content {
  position: relative;
  padding: 12px 30px;
}
.conteiner .task-conteiner md-card-content:not(:nth-child(1)):after,
.conteiner .task-conteiner md-card-content:not(:nth-child(1)):before {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
  background-color: #f2f2f2;
}
.conteiner .task-conteiner md-card-content:before {
  top: 0;
  background-color: #f7f7f7;
}
.conteiner .task-conteiner md-radio-button {
  margin: 0;
}
.conteiner .task-conteiner .task {
  margin-bottom: 6px;
  width: 60%;
  margin: 0 auto;
  margin-top: 13px;
}
.conteiner .task-conteiner .task md-card {
  margin-top: 6px;
}
.conteiner .task-conteiner .task:first-child {
  margin-top: 20px;
}
.conteiner .task-conteiner .task-date {
  color: #b3bbcb;
  font-size: 15px;
  line-height: 14px;
  margin-left: 15px;
}
.conteiner .task-conteiner .task-name {
  display: inline-block;
  border-left: 2px solid #f4f4f4;
  vertical-align: middle;
  padding-left: 15px;
  height: 36px;
  max-width: 80%;
  cursor: pointer;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.conteiner .task-conteiner .task-name span {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.conteiner .task-conteiner .task-name:focus {
  outline: none;
  box-shadow: none;
}
md-option {
  font-size: 18px;
}
md-radio-button {
  display: inline-block;
}
md-radio-button:focus {
  outline: none;
  box-shadow: none;
}
md-radio-button .md-ink-ripple .md-off,
md-radio-button .md-ink-ripple .md-on {
  border-width: 3px;
}
md-radio-button .md-ink-ripple .md-off {
  border-color: #bdbdbd;
}
.md-button.md-fab.add-task,
.md-button.md-fab.check-task {
  position: fixed;
  z-index: 2;
  bottom: 30px;
  right: 30px;
  background-color: #6b6b99;
  font-size: 30px;
}
.md-button.md-fab.add-task:not([disabled]).md-focused,
.md-button.md-fab.check-task:not([disabled]).md-focused {
  background-color: #6b6b99;
}
.md-fab.check-task {
  z-index: 72;
}
.right-panel {
  height: 99%;
  background-color: #292c33;
  z-index: 71;
  color: white;
  border: 1px solid transparent;
}
.head-panel {
  position: relative;
  margin-top: 20px;
  margin-bottom: 25px;
  min-height: 35px;
}
.head-panel .close {
  position: absolute;
  left: 10px;
  top: 0;
  font-size: 25px;
  line-height: 25px;
  margin: 0;
  min-width: 40px;
  min-height: 30px;
  height: 45px;
}
.head-panel .close span {
  display: block;
  font-size: 9px;
  line-height: 8px;
  margin-top: 1px;
}
.head-panel h2 {
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  word-wrap: break-word;
}
.head-panel .panel-actions {
  position: absolute;
  top: 0;
  right: 20px;
  color: #51555e;
}
.head-panel .panel-actions .md-button {
  font-size: 18px;
  min-height: 30px;
  min-width: 35px;
  margin: 0;
}
.panel-body {
  color: #dbdbdb;
  font-size: 12px;
  line-height: 22px;
  padding: 0 75px;
  font-family: "SFUITextRegular", "Arial", sans-serif;
}
.new-task {
  padding: 0 75px;
  margin-top: -10px;
}
.new-task md-input-container {
  margin: 0;
  margin-bottom: 12px;
}
.new-task md-input-container label {
  font-family: "SFUITextRegular", "Arial", sans-serif;
  color: #f6f6f6;
  font-size: 15px;
  line-height: 20px;
}
.new-task md-input-container.md-input-focused:not(.md-input-invalid) label {
  color: #f6f6f6;
  font-family: "SFUITextRegular", "Arial", sans-serif;
}
.new-task md-input-container .md-input {
  color: #f6f6f6;
}
.new-task md-input-container input,
.new-task md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
  border-color: #f6f6f6;
}
.new-task .error {
  color: red;
}
md-backdrop.md-sidenav-backdrop {
  z-index: 61;
}
.md-sidenav-right {
  z-index: 62;
}
md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: #f6f6f6;
}
.mCSB_inside > .mCSB_container {
  margin-right: 0;
}
.mCustomScrollBox {
  overflow: visible;
}
.mCustomScrollBox .mCSB_scrollTools {
  right: -20px;
}
md-input-container.md-default-theme:not(.md-input-focused):not(.md-input-invalid) label.md-required:after,
md-input-container:not(.md-input-focused):not(.md-input-invalid) label.md-required:after {
  color: white;
}
@media screen and (max-width: 960px) {
  .conteiner .dark-background {
    width: 50%;
    z-index: 62;
  }
  .conteiner .dark-background.md-sidenav-right {
    width: 50%;
  }
}
