include mixin/mixins.jade

html(lang="en", ng-app="ToDoApp")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1")
		+source-style("angular-material/angular-material.min.css")
		+source-style("jquery-custom-scrollbar/jquery.custom-scrollbar.css")
		+style("style-icons")
		+style("style-todo")
		title ToDoApp	

	body
		div(ui-view)

		+source("angular/angular.min.js")
		+source("angular-animate/angular-animate.min.js")
		+source("angular-aria/angular-aria.min.js")
		+source("angular-material/angular-material.min.js")
		+source("angular-ui-router/angular-ui-router.min.js")
		+source("jquery/jquery.min.js")
		+source("jquery-custom-scrollbar/jquery.custom-scrollbar.js")
		+script("api.js")
		+script("main.route.js")
		
		+script-full("view/start-page/start-page.js")
		+script-full("view/project/project.js")
		+script-full("view/task/task.js")

